.DS_Store

*.log

.env
.env.local
.env.production
.env.*.local
.env.codeqa

**/dist/*
dist
**/out/*
out
**/build/*
**/.vite/*


node_modules

.vscode/
*storybook.log
storybook-static

.eslintcache

.nx/cache
.nx/workspace-data

.next