.editor {
  outline: none;
  color: inherit;
  min-height: 360px;
}

.editor__paragraph {
  margin: 0.5em 0;
}

.editor__heading-h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

.editor__heading-h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.75em 0;
}

.editor__heading-h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.83em 0;
}

.editor__heading-h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0;
}

.editor__heading-h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.17em 0;
}

.editor__heading-h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 1.33em 0;
}

.editor__nested-listitem {
  list-style-type: none;
}

.editor__list-ol {
  margin: 0.5em 0;
  padding-left: 1em;
}

.editor__list-ol .editor__listitem {
  list-style: decimal;
}

.editor__list-ul {
  margin: 0.5em 0;
  padding-left: 1em;
}

.editor__listitem {
  margin: 0.25em 0;
}

.editor__listItem::marker {
}

.editor__listItem-checked,
.editor__listItem-unchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}

.editor__listItem-checked {
  text-decoration: line-through;
}

.editor__listItem-unchecked:before,
.editor__listItem-checked:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  background-size: cover;
}

.editor__listItem-unchecked[dir='rtl']:before,
.editor__listItem-checked[dir='rtl']:before {
  left: auto;
  right: 0;
}
.editor__listItem-unchecked:focus:before,
.editor__listItem-checked:focus:before {
  box-shadow: 0 0 0 2px var(--background-brand-secondary-hover);
  border-radius: 2px;
}
.editor__listItem-unchecked:before {
  border: 1px solid var(--background-brand-secondary);
  border-radius: 2px;
}
.editor__listItem-checked:before {
  border: 1px solid var(--background-brand-secondary);
  border-radius: 2px;
  background-color: var(--background-brand-default);
  background-repeat: no-repeat;
}
.editor__listItem-checked:after {
  content: '';
  cursor: pointer;
  border-color: var(--background-default-default);
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}

.editor__text-bold {
  font-weight: bold;
}

.editor__text-code {
  background-color: var(--background-default-secondary);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor__text-italic {
  font-style: italic;
}

.editor__text-strikethrough {
  text-decoration: line-through;
}

.editor__text-underline {
  text-decoration: underline;
}

.editor__text-underline-strikethrough {
  text-decoration: underline line-through;
}

.editor__link {
  color: var(--text-tag-blue);
  text-decoration: none;
}

.editor__quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: var(--text-brand-tertiary);
  border-left-color: var(--border-default-default);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor__code {
  font-family: Menlo, Consolas, Monaco, monospace;
  position: relative;
  display: block;
  padding: 8px 8px 8px 16px;
  line-height: 1.53;
  font-size: 13px;
  margin: 8px 0 8px;
  background-color: var(--background-default-secondary);
  tab-size: 2;
  overflow-x: auto;
}

/* TODO: next release */
/* .editor__code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.editor__code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
} */

.editor__token-comment {
  color: slategray;
}

.editor__token-punctuation {
  color: #999;
}

.editor__token-property {
  color: #905;
}

.editor__token-selector {
  color: #690;
}

.editor__token-operator {
  color: #9a6e3a;
}

.editor__token-attr {
  color: #07a;
}

.editor__token-variable {
  color: #e90;
}

.editor__token-function {
  color: #dd4a68;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}
